/* -------------------- GENERAL SELECTORS -------------------- */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background-color: rgb(37, 37, 37);
}

/* -------------------- FORM SELECTORS -------------------- */
.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 2rem;
  border-radius: 30px;
  background-color: rgb(77, 76, 77);
  color: #fff;
  box-shadow: 5px 0 15px black;
}
.sign-up-form > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.sign-up-form input {
  width: 360px;
  border-radius: 15px;
  padding: 0.3rem;
}

.sign-up-form select {
  width: 100%;
  border-radius: 15px;
  padding: 0.3rem;
}

.user-password .password-restrictions {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  font-size: 0.9rem;
}

.sign-up-form button {
  width: fit-content;
  padding: 0.4rem;
  border-radius: 15px;
  align-self: flex-end;
  border: none;
  cursor: pointer;
}
.sign-up-form button:active {
  transform: translateY(3px);
  box-shadow: 5px 0 15px black;
}

/* -------------------- VALIDATION SELECTORS -------------------- */

.sign-up-form input:valid {
  border: 2px solid #4dff4d;
}

.sign-up-form input:invalid {
  border: 2px solid #ff4d4d;
}

.sign-up-form span {
  font-size: 0.9rem;
  color: #ff4d4d;
}
